* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav {
    padding: 1% 0;
    background-color: #aaa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .bio,
  .individual,
  .reachout {
    border: rgb(141, 141, 141) solid 1px;
  }
  
  main {
    padding: 30px 50px;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: rgb(250, 248, 248);
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  